*{
margin: 0;
padding: 0;
border: 0;  
outline: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;    
}

:root{
    --color-primary: #2d3092;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-grey: #f4f4f4;
    --color-black: #000;
    --color-bg: #fff;
    --color-bg1: #2e3267;
    --color-bg2: orange;

    --container-width-lg: 80%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    background: var(--color-bg);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5{
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

a{
    color: var(--color-primary);
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover{
    background: var(--color-bg2);
    border:var(--color-white);
}

.btn-primary{
    background: var(--color-primary);
    color: var(--color-white);
}


/* ======== NAVBAR ======== */

nav{
    background: var(--color-white);
    width: 100vw;
    height: 3rem;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    z-index: 11;
}

.nav-container{
    width: 96%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    display: none;
}

.img-banner{
    width: 17rem;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-menu a{
    font-size: 1rem;
    position: relative;
}

.nav-menu a:hover{
    color: var(--color-bg2);
}

.nav-menu a::after{
    content: "";
    position: absolute;
    background-color: var(--color-bg2);
    height: 0.120rem;
    width: 0%;
    left: 0;
    bottom: -0.31rem;
}

.nav-menu a:hover::after{
    width: 100%;
}

/* ======== MENU SCOMPARSA SOCIAL FLOATING  ======== */

.menu-social{
    position: fixed;
    bottom: 3.125rem;
    right: 3.125rem;
    width: 3.125rem;
    height: 3.125rem;
    background: white;
    border-radius: 50%;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
    z-index: 11;
}

.menu-social span{
    font-family: 'Roboto', sans-serif;
    border-radius: 50%;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    font-size: 2rem; 
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#plus.active{
    transform: rotate(135deg);
    color: var(--color-bg2);
}

.social-list{
    position: absolute;
    bottom: 3.4rem;
    right: 3.4rem;
    background: white;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
    min-width: 15.60rem;
    padding: 1.25rem;
    border-radius: 10%;
    opacity: 0;
    visibility: hidden;
    }

.social-list a{
    color:black;
}

.social-list.active {
    bottom: 4rem;
    opacity: 1;
    visibility: visible;
    transition: var(--transition);
}


.social-list.active ul li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0.35rem 0.6rem;
    transition: var(--transition);
}

.menu-social ul li:not(:last-child){
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

#icon-social {
    margin-right: 0.6rem; 
}

.social-list ul li:hover {
    transform: scale(1.1);
    font-weight: 500;
}

.social-list .fa-instagram {
    color: #D62976;
}

.social-list .fa-facebook {
    color: #3b5998;
}

.social-list .fa-whatsapp{
    color: #128C7E;
}

.social-list .fa-envelope{
    color: #f7bc3e;
}

.social-list .fa-phone{
    color: rgba(26, 35, 63, 0.692);
}


/* ======== landing ========= */

.landing{
    display: grid;
    place-items: center;
    position: relative;
    margin-top: 3rem;
    padding-bottom: 6rem;
}

.landing .container{
    display: grid;
    grid-template-columns: 5rem auto 28rem;
    gap: 2rem;
}

.landing .landing-socials{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 5rem;
}

.landing .landing-socials a{
    font-size: 1.1rem;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

section.landing .landing-socials a:hover{
    transform: scale(1.5);
}

.landing-info h2{
    text-align: left;
    margin: 0;
    margin-top: 4rem;
    color: var(--color-primary);
}

.landing-info h3{
    margin: 2.4rem 0 1rem;
    color: var(--color-warning);
}

.landing-info p{
    width: 35rem;
}

.landing-img-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-img-area .cerchio-esterno{
    width: 26rem;
    height: 26rem;  
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    position:relative;
    animation: move 30s linear infinite;
}

.landing-img-area .cerchio-esterno span{
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    background-color: var(--color-white);
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-img-area .cerchio-esterno span:nth-child(1){
    top: -2rem;
    left: calc(50% - 2rem);
}

.landing-img-area .cerchio-esterno span:nth-child(2){
    right: -2rem;
    top: calc(50% - 2rem);
}

.landing-img-area .cerchio-esterno span:nth-child(3){
    left: -2rem;
    top: calc(50% - 2rem);
}

.landing-img-area .cerchio-esterno span:nth-child(4){
    bottom: -2rem;
    left: calc(50% - 2rem);
}

.landing-img-area .cerchio-interno{
   position: absolute;
   width: 18rem;
   height: 18rem;
   border-radius: 50%;
   overflow: hidden;
}

@keyframes move{
    to{
        transform: rotate(360deg);
    }
}

/* ======== servizi ========= */

.servizi{
    padding-top: 0;
    background-color: var(--color-bg1);
    
}

.servizi h2{
    color: var(--color-warning);
    padding: 1rem;
    padding-top: 2rem;
    font-weight: 500;
}

.servizio-image a{
    font-size: large;
    font-weight: 500;
    margin-top: 1rem;
    color: var(--color-bg2);
    transition: var(--transition);
}

.servizio-image a:hover{
    transform: scale(1.1);
}


.servizi-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem; 
}

.servizio-image{
    background: var(--color-white);
    padding: 1rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    cursor: default;
    transition: var(--transition);
    border-radius: 5%;
}

.servizio-image img{
    border-radius: 5%;
}

/* ======== FACEBOOK ========= */

#contatti-social .container{
    display: grid;
    grid-template-columns: 25rem  auto;
    gap: 5rem;
}

#contatti-social aside{
    background-color: var(--color-bg1);
    padding: 2rem;
    border-radius: 15px;
}


#contatti-social aside h4{
    color: var(--color-warning);
    font-size: 1.7rem;
    margin-bottom: 2rem;
    font-weight: 500;
    text-align: center;
}

#contatti aside div{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

#contatti-social .contact-form h4{
    color: var(--color-warning);
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    text-align: center;
}

#contatti-social form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    border-radius: 15px;
}

#contatti-social form input,
#contatti-social form textarea{
    padding: 1.4rem;
    background: var(--color-white);
    border: solid 2px var(--color-primary);
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

#contatti-social form textarea{
    height: 10rem;
}

#contatti-social form input::placeholder,
#contatti-social form textarea::placeholder{
    color: var(--color-black);
}

#contatti-social form input:focus,
#contatti-social form textarea:focus{
    background: var(--color-grey);
    color: var(--color-black);
}

#contatti-social form button{
    background: var(--color-warning);
    border-radius: 5px;
    width: 9rem;
    transition: var(--transition);
    cursor: pointer;
}

#contatti-social form button:hover{
    background:var(--color-bg1);
    color: var(--color-white);
}

.informativa-dati{
    margin: 0;
    font-size: small;
}
/* ======== FACEBOOK fine ========= */

/* ======== FOOTER ========= */

.footer{
    background: var(--color-bg1);
    padding-top: 2rem;
    font-size: 0.8rem;
    text-align: center;
    color: var(--color-white);
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.footer-container > div h4{
    margin-bottom: 1.2rem;
    font-size: 0.9rem;
}

.footer img{
    width: 250px;
    margin-bottom: 1.2rem;
    padding: 0.3rem;
    border-radius: 15px;
    background-color: white;
    display: flex;
    margin: 0 auto 1.1rem;
}

.footer-1 p{
    margin: 0 0 2rem;
}

.footer ul li a{
    color: var(--color-light);
}

.footer ul li a:hover{
    text-decoration: underline;
}

.footer-socials{
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    margin-top: 0.1rem;
    margin: 0rem 5.6rem 0rem;
}
 
#social-icons:hover{
    transform: scale(1.2);
}
.fa-instagram {
    color: #D62976;
}

.fa-facebook {
    color: #3b5998;
}

.fa-whatsapp{
    color: #128C7E;
}

.fa-envelope{
    color: #f7bc3e;
}

.fa-phone{
    color: rgba(26, 35, 63, 0.692);
}

/* mappa google */

.mappa{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.mappa h4{
    margin-bottom: 1.2rem;
    font-size: 0.9rem;
}
.mappa p{
    margin-bottom: 1.2rem;
}

.created p{
    margin-top: 2rem;
    letter-spacing: 1px;
}

.created p a{
    color: var(--color-bg2);
}
.created p a:hover{
    text-decoration: underline;
}

iframe {
    height: 300px;
    width: 900px;
    border-radius: 10px;
}

/* media queries */

@media (max-width:991px){

    .container{
        width: var(--container-width-sm);
    }

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.7rem;
    }

    h3{
        font-size: 1.4rem;
    }

    h4{
        font-size: 1.2rem;
    }

    /* navbar */

    nav button{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-bg2);
        cursor: pointer;
    }   

    nav button#close-menu-btn{
        display: none;
    }

    .nav-menu{
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 90%;
        flex-direction: column;
        gap: 0;
        background-color: white;
        border: 1.6px solid rgba(0,0,0,0.1);
        border-radius: 2%;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
        display: none;
    }

    .nav-menu a:hover::after{
        width: 0;
    }
    
    .nav-menu li{
        width: 100%;
        height: 5.8rem;
    }

    .nav-menu li a{
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        border-bottom: 1px solid  rgba(0,0,0,0.1);
    }

    .nav-menu li:last-child a{
        border-bottom: none;
    }



      /* landing */

      .landing{
        max-width: 100vw;
        overflow-x: hidden;
        padding-bottom: 0;
      }

      .landing .container{
        grid-template-columns: 1fr;
        grid-template-rows: 20% 50%;
        text-align: center;
        row-gap: 6rem;
      }

      .landing .container .landing-socials{
        display: none;
      }

      .landing .container .landing-info{
        width: 90%;
        margin: 0 auto;
      }

      .landing .container .landing-info h2{
        text-align: center;
        margin: 0;
      }

      .landing .container .landing-info p{
        margin: 0 auto;
        width: 95%;
      }

      .landing .container .landing-img-area{
        grid-row: 1;
        width: 94%;
        margin: 0 auto;
      }

      .landing .container .cerchio-esterno{
        width: 16rem;
        height: 16rem;
      }

      .landing .container .cerchio-interno{
        width: 10rem;
        height: 10rem;
      }

      .landing .container .cerchio-esterno span{
        height: 3rem;
        width: 3rem;
      }

      .landing-img-area .cerchio-esterno span:nth-child(1){
        top: -1.5rem;
        left: calc(50% - 1.5rem);
    }
    
    .landing-img-area .cerchio-esterno span:nth-child(2){
        right: -1.5rem;
        top: calc(50% - 1.5rem);
    }
    
    .landing-img-area .cerchio-esterno span:nth-child(3){
        left: -1.5rem;
        top: calc(50% - 1.5rem);
    }
    
    .landing-img-area .cerchio-esterno span:nth-child(4){
        bottom: -1.5rem;
        left: calc(50% - 1.5rem);
    }

    /* servizi */

    .servizi{
        padding-top: 0;
        margin-top: 0;
        background-color: var(--color-primary);
    }

   .servizi-container{
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }


    /* categorie */

     #contatti-social aside{
        display: none;
     }
     
     #contatti-social .container{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    /* footer */

     .footer-container{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
     }

     .footer-1 p{
        margin: 1rem auto;
     }

     .footer-3 p{
        color: var(--color-white);
     }

     .informativa-dati input [type = "checkbox"] {
        width: 10%;
     }

    .footer-socials{
        justify-content: center;
    }

    iframe {
        height: 300px;
        width: 300px;
     }

     .menu-social{
        right: 1rem;
        bottom: 1rem;
     }
}